################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
[Bb]in/
[Oo]bj/
/RateEverything/Properties/ServiceDependencies/RateEverything20231120193412 - Web Deploy
/RateEverything/Properties/PublishProfiles
